body {
      background: #018DED url(https://images.unsplash.com/photo-1639400440317-54a35a504ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=864&q=80);
}

input[type=text], select {
      width: auto;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: auto;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    h2 {
          width: auto;
          text-align: justify;
          font-family: "Times New Roman", Times, serif;
          color: white;
      
    }
    
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: auto;
        margin-top: 0;
      }
    }
    